        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title"><%= t('labels.sign_up') %></div>
              <div style="float:right; font-size: 85%; position: relative; top:-18px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()"><%= t('labels.login') %></a></div>
            </div>
            <div class="panel-body" >
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal", role:"form" }) do |f| %>

              <div class="form-group">
                <%= f.label :email, class:"col-md-3 control-label" %>
                <div class="col-md-9">
                  <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email" %>
                </div>
              </div>

              <%= f.fields_for :profile_member do |profile_fields| %>
              <div class="form-group">
                <%= profile_fields.label :first_name, class:"col-md-3 control-label"  %>
                <div class="col-md-9">
                  <%= profile_fields.text_field :first_name, class:"form-control", placeholder:"Primeiro nome" %>
                </div>
              </div>

              <div class="form-group">
                <%= profile_fields.label :second_name, class:"col-md-3 control-label" %>
                <div class="col-md-9">
                  <%= profile_fields.text_field :second_name, class:"form-control", placeholder:"Segundo nome" %>
                </div>
              </div>
              <% end %>

              <div class="form-group">
                <%= f.label :password, class:"col-md-3 control-label" %>
                <div class="col-md-9">
                  <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Senha" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, class:"col-md-3 control-label" %>
                <div class="col-md-9">
                  <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Confirmação da senha" %>
                </div>
              </div>

              <div class="form-group">
                <!-- Button -->
                <div class="col-md-offset-3 col-md-9">
                  <%= f.submit (t('labels.sign_up')), class: "btn btn-info" do %>
                  <i class="icon-hand-right"></i> &nbsp Sign Up
                  <% end %>
                </div>

              </div>

              <% end %>
            </div>
          </div>
        </div>
        
        <% flash.each do |key, value| %>
        <%= javascript_tag "$.notify( { message: '#{value}'}, { type: 'danger', placement: { from: 'top', align: 'center' }});" %>
        <% end %>

        <% unless devise_error_messages!.blank? %>
        <% resource.errors.full_messages.each do |message| %>
        <%= javascript_tag "$.notify( { message: '#{message}'}, { type: 'danger', placement: { from: 'top', align: 'center' }});" %>
        <% end %>
        <% end %>